@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#content {
   background-image: url('./images/background.jpg');
   background-size: cover;
   height: 94vh;
}
/* #layoutContent{
    display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 5rem;
        padding-right: 5rem;
        width: 100%;
} */



